<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Educatie si monitorizare fitness.</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Gym-plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href=@Url.Content("/Content/css/bootstrap.min.css") rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href=@Url.Content("/Content/css/fontawesome-all.min.css") rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--lightbox slider-->
    <link rel="stylesheet" href=@Url.Content("/Content/css/lightbox.css")>
    <!-- lightbox slider-->
    <!--Animation-effects-css-->
    <link href=@Url.Content("/Content/css/aos.css") rel='stylesheet prefetch' type="text/css" media="all" />
    <!--//Animation-effects-css-->
    <!--stylesheets-->
    <link href=@Url.Content("/Content/css/style.css") rel='stylesheet' type='text/css' media="all">
    <link href=@Url.Content("/Content/css/logstyle.css") rel="stylesheet" type="text/css" media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="main-container">


        <div>
            @RenderBody()
        </div>
        <!-- //banner -->
        <!-- About-one -->
        
        <!-- footer -->
        <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="copy-ile-right text-center pt-lg-4 pt-3">
                <p>
                    © 2019 Education and monitoring fitness. All Rights Reserved.
                </p>
                <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                    <ul>
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <!--model-->
        <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLiveLabel">EMF</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/Content/images/b1.jpg" alt="" class="img-fluid">
                        <p>
                            A fi sportiv nu înseamnă a practica doar un sport, a fi sportiv înseamnă a avea o viaţă sănătoasă: fizic, psihic şi spiritual!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//model-->
    <!--js working-->
    <script src=@Url.Content("/Content/js/jquery-2.2.3.min.js")></script>
    <!--//js working-->
    <!--  light box js -->
    <script src=@Url.Content("/Content/js/lightbox-plus-jquery.min.js")></script>
    <!-- //light box js-->
    <!--responsiveslides banner-->
    <script src=@Url.Content("/Content/js/responsiveslides.min.js")></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 900,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!--// responsiveslides banner-->
    <!--animation body -->
    <script src=@Url.Content("/Content/js/aos.js")></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1200
        });
    </script>
    <!-- //animation body -->
    <!-- start-smoth-scrolling -->
    <script src=@Url.Content("/Content/js/move-top.js")></script>
    <script src=@Url.Content("/Content/js/easing.js")></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- FlexSlider -->
    <script src=@Url.Content("/Content/js/jquery.flexslider.js")></script>
    <script>
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlsContainer: $(".custom-controls-container"),
                customDirectionNav: $(".custom-navigation a"),
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!--//FlexSlider -->
    <!--bootstrap working-->
    <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <!-- //bootstrap working-->
</body>
</html>